<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ivan Suroegin">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <title>Suroegin.com // {{ title }}</title>
</head>
<body>

<header>
    {{ title }}
</header>

<h2>Categories</h2>
<!-- Categories -->
{% set category_list = categories.split(',') %}
{% for category_name in category_list %}
    <p>{{ category_name.strip() }}</p>
{% endfor %}

<h2>Menu</h2>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Footer</a></li>
    </ul>
</nav>

<p>Tags: {{ tags }}</p>

<main>
    {{ context }}
</main>

</body>
</html>